#header {  
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    color: blue;
}
#text1 {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    color: blue;
}
.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons > div {
    flex-grow: 1;
    margin-right: 10px; /* Adjust as needed for spacing */
}
#centeredText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 9999; /* Ensure it's on top */
}